@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --black: #0C0C0D;
  --white: #FFFFFF;
  --grey: #F2F2F2;
  --accent: #3A3AFF;
  --cta: #00B66E;
}

html, body {
  background: black;
  color: white;
  font-family: ui-sans-serif, system-ui;
}


/* Dark mode */
.dark body {
  background: var(--black);
  color: var(--white);
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}